<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Condicionales</title>
</head>
<body>
    <script type= "text/javascript">


         var edad = Number(prompt("Ingresa su edad"));

         if ((edad => 0) && (edad < 20)){
              console.log("Tu edad es memor a 20");
         } else if ((edad >= 20) && (edad <=40)){
             console.log("Tienes entre 20 o 40 años");
         } else{
             console.log ("Tienes mas de 40 años");
         }
             
         //switch
         var date  = new Date() .getDate()
         switch(date){

         }
    
    </script>
</body>
</html>