<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transform</title>
    <style>
        body {
            padding: 50px;
        }
        .a{
            width: 150px;
            height: 80px;
            background-color: red;
            transform: rotate(20deg);
        }
        .b{
            width: 150px;
            height: 80px;
            background-color: red;
            /*se puede escalar en diferentes ejes (x,y,z)**/
            transform: scaleY(1.5);

        }
        
    </style>
</head>
<body>
    <div class="a">Algun texto</div>
    <br>
    <br>
    <br>
    <div class="b">Algun texto</div>
</body>
</html>